@media (min-width: $mobile) and (max-width: $tabletMobile) {
    .footer {
        width: 100%;
        height: 100%;
        background-color: $colorBlack;
        display: flex;

        &__logo {
            width: 25%;
            height: 100%;

            & a {

                & img {
                    width: 100px;
                    height: 100px;
    
                    position: relative;
                    top: 50px;
                    left: 25px;
                }
            }
        }

        &__history {
            width: 50%;
            height: 100%;
            padding: 25px;
            color: $colorWhite;
            line-height: 20px;
            text-align: center;

            & h1 {
                font-size: 15px;
                font-family: $fontTitle;
            }

            & p {
                font-size: 5px;
                font-family: $fontDescription;
            }
        }

        &__links {
            width: 25%;
            height: 100%;

            & div {
                text-align: center;
                line-height: 75px;
            }

            & a {

                & img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media (min-width: $tabletDesktop) and (max-width: $desktop) {
    .footer {
        width: 100%;
        height: 100%;
        background-color: $colorBlack;
        display: flex;
    
        &__logo {
            width: 25%;
            height: 100%;
    
            & a {
    
                & img {
                    width: 200px;
                    height: 200px;
    
                    position: relative;
                    top: 75px;
                    left: 40px;
                }
            }
        }
    
        &__history {
            width: 50%;
            height: 100%;
            padding: 50px;
            color: $colorWhite;
            text-align: center;
    
            & h1 {
                font-size: 30px;
                font-family: $fontTitle;
            }
    
            & p {
                font-size: 15px;
                font-family: $fontDescription;
                line-height: 30px;
            }
        }
    
        &__links {
            width: 25%;
            height: 100%;
    
            & div {
                text-align: center;
                line-height: 110px;
    
                & a {
    
                    & img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}
