@media (min-width: $mobile) and (max-width: $desktop) {
    .header {
        width: 100%;
        height: 100%;

        &__nav {
            & nav {
                & div {
                    & a {
                        font-family: $fontTitle;
                    }

                    & div {
                        & div {
                            h5 {
                                font-family: $fontTitle;
                            }
                        }

                        & div {
                            & ul {
                                & li {
                                    & a {
                                        font-family: $fontDescription;
                                    }
                                }
                            }

                            & form {
                                & input {
                                    font-family: $fontDescription;
                                }

                                & button {
                                    font-family: $fontTitle;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}