//COLORES

$colorBlack: rgb(0, 0, 0);
$colorWhite: rgb(255, 255, 255);

$gradient: to left, red, orange, crimson, yellow;

$borderBlack: 2px solid rgb(0, 0, 0);
$boderViolet: 2px solid rgb(213, 103, 213);
$borderOrange: 2px solid orangered;

//TIPOGRAFÍA

$fontTitle: 'Permanent Marker', cursive;
$fontDescription: 'Gochi Hand', cursive;

//MEDIA QUARIES

$mobile: 480px;
$tabletMobile: 768px;
$tabletDesktop: 769px;
$desktop: 1300px;